/* main colors */
$pure-black: black;
$pure-white: white;
$light-black: lighten($pure-black, 20%);
$light-light-black: lighten($pure-black, 40%);
$dark-white: darken($pure-white, 10%);
$dark-dark-white: darken($pure-white, 25%);
$transparent-black: rgba($pure-black, .75);

$twotone: (
    /* global/general */
    link: $light-black, 
    link-hover: $pure-black,
    hr-color: $pure-black,

    selection-color: $pure-white,
    selection-background-color: $pure-black,

    backdrop-background-color: $pure-black,
    body-background-color: $pure-white,
    body-color: $pure-black,

    /* 'button' shortcode */
    button-default-color: $pure-black,
    button-default-hover-color: $pure-black,
    button-default-background-color: $dark-white,
    button-default-background-hover-color: $dark-dark-white,
    button-default-border-color: $light-black,
    button-default-border-hover-color: $pure-black,
    button-primary-color: $pure-white,
    button-primary-hover-color: $pure-white,
    button-primary-background-color: $light-black,
    button-primary-background-hover-color: $light-light-black,
    button-primary-border-color: $dark-white,
    button-primary-border-hover-color: $pure-white,

    custom-scrollbar-foreground-color: $pure-white,
    custom-scrollbar-background-color: $pure-black,

    footer-color: $dark-dark-white,
    footer-background-color: $pure-black,
    footer-link-color: $dark-white,
    footer-link-hover-color: white,
    footer-hr-color: $dark-white,

    gtt-color: $light-black,
    gtt-hover-color: $pure-black,
    gtt-background-color: $dark-white,
    gtt-background-hover-color: $pure-white,

    figcaption-color: $dark-white,
    figcaption-background-color: $transparent-black,

    meta-color: $light-black,

    /* taxonomies */
    taxo-title-color: $light-black,
    taxo-active-color: $pure-black,
    taxo-num-color: $dark-white,
    taxo-num-background-color: $pure-black,
    taxo-tags-color: $dark-white,
    taxo-tags-background-color: $light-black,
    taxo-categories-color: $dark-white,
    taxo-categories-background-color: $light-black,
    taxo-series-color: $dark-white,
    taxo-series-background-color: $light-black,
    /* 'sections' & 'authors' */
    taxo-filter-color: $dark-white,
    taxo-filter-background-color: $light-black,

    social-icon-color: $dark-white,
    social-icon-hover-color: $pure-white,

    sidebar-title-color: $light-black,
    sidebar-title-hover-color: $pure-black,
    sidebar-li-color: $light-black,
    sidebar-li-hover-color: $pure-black,

    /* sidebar toc */
    toc-title-color: $pure-black,
    toc-label-color: $light-black,
    toc-label-active-color: $pure-black,

    /* sidebar bio */
    bio-color: $light-black,
    bio-name-color: $pure-black,
    bio-social-icon-color: $light-black,
    bio-social-icon-hover-color: $pure-black,

    /* navigation bar (top) */
    navbar-background-color: $pure-black,
    navbar-border-bottom-color: $light-black,
    navbar-title-color: $dark-white,
    navbar-title-hover-color: $pure-white,
    navbar-title-active-color: $dark-white,
    navbar-border-top-color: $pure-black,
    navbar-menu-item-hover-background-color: $pure-white,
    navbar-menu-item-hover-color: $pure-black,
    navbar-menu-item-active-background-color: $light-black,
    burger-menu-color: $dark-white,

    /* header slides */
    header-title-color-default: $pure-black, // reverse?
    header-title-shadow-color-default: $dark-white,
    header-subtitle-color-default: $dark-white,
    header-subtitle-shadow-color-default: $pure-black,

    /* home slide */
    featured-background-color: $transparent-black,
    featured-title-color: $dark-white,
    featured-title-hover-color: $pure-white,
    featured-content-color: $dark-white,
    featured-button-background-color: $transparent-black,
    featured-button-background-hover-color: $pure-black,
    featured-button-color: $dark-white,
    featured-button-hover-color: $pure-white,

    /* breadcrumb (path) */
    breadcrumb-background-color: $pure-black,
    breadcrumb-item-color: $dark-dark-white,
    breadcrumb-item-active-color: $pure-white,
    breadcrumb-item-hover-color: $pure-white,

    /* single post */
    single-hr-background-color: $light-black,
    single-blockquote-border-color: $dark-white,
    single-header-title-color: $pure-black,
    single-contents-title-color: $light-black,
    single-contents-subtitle-color: $light-black,

    toc-header-background-color: $dark-white,
    toc-header-background-hover-color: $dark-dark-white,
    toc-body-background-color: $dark-dark-white,

    content-box-border-color: $pure-black,
    content-box-background-color: $dark-white,

    share-color: $pure-white,
    share-shadow-color: $pure-black,
    share-background-color: $light-black,
    action-color: $pure-black,
    action-shadow-color: $pure-black,
    action-background-color: $dark-white,
    action-popup-background-color: $pure-white,
    action-popup-color: $pure-black,
    action-popup-border-color: $pure-black,

    /* list page */
    list-title-color: $pure-black,
    list-title-shadow-color: transparent,

    /* taxonomy pages */
    terms-title-color: $pure-black,
    terms-title-shadow-color: transparent,
    terms-tags-color: $light-black,
    terms-categories-color: $light-black,
    terms-series-color: $light-black,
    terms-len-color: $pure-black,

    /* search page */
    switch-background-color: $light-black,
    switch-button-color: $dark-white,
    switch-active-color: $dark-dark-white,

    /* pagination */
    pagination-background-color: $dark-white,
    pagination-number-color: $light-black,
    pagination-number-hover-color: $pure-black,
    pagination-number-active-color: $pure-black,
/* TODO: unused...? => check code in 'pagination' */
/*    pagination-disabled-color: yellow,*/

    tiles-background-color: $pure-white,
    tiles-mask-background-color: $dark-white,

    gallery-title-color: $pure-black,
    gallery-title-shadow-color: transparent,
    gallery-mask-background-color: $dark-white,
    gallery-link: $pure-black,

/* TODO: 'archive' currently not handled */
/*
    // TODO: add 'archive-title-color' and 'archive-title-shadow-color'?
    archive-key-color: #FCFCFA,
    archive-type-color: #82aaff,
    archive-meta-color: #aed581,
    archive-key-background-color: #FF6188,
    archive-type-background-color: #424242,
    archive-hover-line-color: #FF6188,
*/

    about-title-color: $pure-black,
    about-title-shadow-color: transparent,

    contact-title-color: $pure-black,
/* TODO: contact stuff... use form? */
/*
    contact-title-shadow-color: transparent,
    contact-input-color: red,
    contact-input-background-color: lighten(#009900, 5%),
    contact-button-background-color: lighten(#009900, 5%),
    contact-border-color: #1d1d1d,
*/

    e404-color: $pure-black,
    e404-title-color: $pure-black,
    e404-title-shadow-color: transparent,

    /* 'alert' shortcode */
    alert-info-background-color: $dark-white,
    alert-info-text-color: $pure-black,
    alert-info-border-color: blue,
    alert-success-background-color: $dark-dark-white,
    alert-success-text-color: $pure-black,
    alert-success-border-color: green,
    alert-warning-background-color: $light-light-black,
    alert-warning-text-color: $pure-white,
    alert-warning-border-color: yellow,
    alert-danger-background-color: $light-black,
    alert-danger-text-color: $pure-white,
    alert-danger-border-color: red,

    /* custom variables (external to theme) */
    sidedata-image: url(../images/checker.png),
);
